#root {
  width: 100%;
  height: 100vh;
}

.App {
  margin: auto;
  width: 80%;
  height: 500px;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

.inputs-change {
  border: solid 3px black;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

.App > :nth-child(1) {
}
.App > :nth-child(2) {
}
.App > :nth-child(3) {
}
.App > :nth-child(4) {
}
.App > :nth-child(5) {
}
.App > :nth-child(6) {
}
.App > :nth-child(7) {
}
.App > :nth-child(8) {
}
.App > :nth-child(9) {
}
